Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. SQL databaseis a collection of highly structured tables, where in each row reflects a data entity, and every column defines a specific information field. Relational databases are built using the structured query language (SQL) to create, store, update, and retrieve data. Therefore, SQL is the underlying programming language for all relational database management systems (RDBMS) such as MySQL, Oracle, and Sybase, among others.

Difference b/w SQL and NoSQL

SQL databases, NoSQL databases store data in a document format instead of tables. NoSQL databases store non-structured data such as photos, videos, articles, and more in a single document. Below are a few of the key differences between SQL and NoSQL databases:

Database Structure: Unlike relational databases with tables to store information, NoSQL databases employ a key-value-pairs approach to store all data in one place. In this case, the key indicates a unique element, for example, an email address for employees.

Flexibility: NoSQL databases can store vast amounts of unstructured data without constraints on the types of data users want to keep together. Flexibility in storing different new types of data as per the varying needs makes NoSQL databases more intuitive and broadens the scope of application. However, databases require extra processing effort and more storage than relational databases.

Consistency: Ensuring data availability and data consistency are critical aspects to ensure exceptional database performance. While relational databases always ensure consistent data across SQL database server instances, some NoSQL databases, such as Redis, respond to a query with information that may be incorrect by a few seconds.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.DDL (Data Definition Language):

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application

CREATE – is used to create the database or its objects (table index, function, views, store procedure and triggers).

CREATE TABLE employee_table(
id int ,
name varchar(45) ,
occupation varchar(35) ,
age int,
);

DROP – is used to delete objects from the database.

DROP TABLE orders;

DROP DATABASE test1;

ALTER - is used to alter the structure of the database.

ALTER TABLE test2
ADD cus_age varchar(40);

TRUNCATE –is used to remove all records from a table, including all spaces allocated for the records are removed.

TRUNCATE TABLE customer;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML(Data Manipulation Language): 

The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT – is used to insert data into a table.

INSERT INTO test.test_table VALUES
(102, 'Joseph', 'Developer', 30),
(103, 'Mike', 'Leader', 28),
(104, 'Stephen', 'Scientist', 45);

UPDATE – is used to update existing data within a table.

UPDATE test.test_table
SET name = 'sunita'
WHERE id = '102'

DELETE – is used to delete records from a database table.

DELETE FROM test2 WHERE id=103

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL(Data Definition Language):

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

SELECT – is used to retrieve data from the database.

SELECT * FROM test2.test_table;

Q5. Explain Primary Key and Foreign Key.

Ans.Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

cursor():
Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute():
execute() function is used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations.

In [ ]:
1. from
2. where
3. group by
4. having
5. select
6. order by
7. limit